<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Here at Claco, we're announcing a new set of functionality for the site!<br/>
<br/>
You now have the ability to grant other educators on Claco permission to build, change, and enhance your binders.  This way, you can take advantage of your network of colleagues, and collaboratively work together to build the best educational content.  Click 'Edit' on any one of your binders, add the educator you'd like to work with, and get collaborating!<br/>
<br/>
Also, your homepage feed now supports infinite scroll, to better allow you to see more of the activity and content that you care about.<br/>
<br/>
Thanks for using the site!<br/>
<br/>
-Team Claco
</body>
</html>