<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Hi there!<br />
<br/>
We noticed that you have gotten an invite to join our exclusive beta for Claco but haven't created your account yet.<br/>
Sign up quick before your link expires!</br>
<br />
<%= link_to @link, @link %><br />
<br />
We hope to see you soon on our learning network!
<br />
-Team Claco
</body>
</html>