<tr>
  <td style="padding: 30px 60px 30px 60px; font-family:Helvetica,Arial,sans-serif;color:#333333" colspan="2">
    <h1 style="padding:0; margin:0; font-weight: normal; font-family: Helvetica, Arial, sans-serif; color: #333; font-size: 1.8em;">
    	Here's the Latest on Claco
    </h1>
  </td>
</tr>


<tr>
  <td style="padding: 0 60px 0 60px; font-family:Helvetica,Arial,sans-serif;" colspan="2">
		<h1 style="font-size:16px; margin-bottom: 2px; font-weight:bold; color:#333;" >
    	Stuff
    </h1>
	</td>
</tr>

<%- 2.times do %>

	<tr>
	  <td style="padding: 10px 0; font-family:Helvetica,Arial,sans-serif;color:#333333" colspan="2">
			<hr width="500" height="1" style="border:0;margin:0 auto;color:#e8e8e8;background-color:#e8e8e8;min-height:1px">
		</td>
	</tr>

	<tr valign="top">
		<td width="0" style="background-color:white"></td>
		<td rowspan="4" style="padding: 10px 0 0 80px;" width="120" align="center">
			<a href="" title="Some Claco VanNess Sheeeit" style="border:none;color:#0084b4;text-decoration:none" target="_blank"> <img src="http://cdn.pastemagazine.com/www/system/images/thumbs/www/articles_2010_06_18/samuel_l_jackson_mlk_300x266.jpg" width="120" border="0" style="border:0;background-color:#f2f2f2;color:#f2f2f2;max-width:120px"> </a>
		</td>
	</tr>

	<tr>
	  <td style="padding: 10px 200px 0 60px; font-family:Helvetica,Arial,sans-serif; color:#333333" colspan="2">
			<a href="" title="Some Claco VanNess Sheeeit" style="border:none;color:#0084b4;text-decoration:none" target="_blank"><span style="font-size:16px;line-height:20px;font-weight:bold;color:#333">Some Claco VanNess Sheeeit nig nog zig zog</span></a>
		</td>
	</tr>

	<tr>
	  <td style="padding: 10px 200px 0 60px; font-family:Helvetica,Arial,sans-serif;" colspan="2">
			<span style="color:#555;font-size:14px;line-height:18px">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Hey, look at me when I'm talking to you, motherfucker.</span>
		</td>
	</tr>

	<tr valign="top">
	  <td style="padding: 10px 60px 10px 60px; font-family:Helvetica,Arial,sans-serif;" colspan="2">
			<span style="font-size:12px;color:#999"> <a href="" style="border:none;color:#0084b4;text-decoration:none" target="_blank"><span style="color:#999">news.discovery.com</span></a> · <a href="" style="border:none;color:#0084b4;text-decoration:none;white-space:nowrap" target="_blank">Snap it!</a> </span>
		</td>
	</tr>

	<tr>
	  <td style="padding: 0 60px 10px 60px; font-family:Helvetica,Arial,sans-serif;" colspan="2">
			<table cellpadding="0" cellspacing="0" border="0" style="background-color:white">
				<tbody>
					<tr>
						<td> <a href="http://www.claco.com/Rosario" style="border:none;color:#0084b4;text-decoration:none" target="_blank"> <img src="http://img.cla.co/726b909651cbfa72d11b5d90656828fd/thumb_lg.png" width="32" height="32" border="0" style="border:0;width:32px;min-height:32px;border-radius:4px;background-color:#f2f2f2;color:#f2f2f2"> </a> </td>
						<td width="8" style="background-color:white"></td>
						<td valign="center" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;color:#777"> Shared by<br> <a href="http://www.claco.com/Rosario" style="border:none;color:#0084b4;text-decoration:none;color:#0084b4;text-decoration:none" target="_blank">Rosario Savini</a> </td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>

<%- end %>

<tr>
  <td style="padding: 20px 0; font-family:Helvetica,Arial,sans-serif;color:#333333" colspan="2">
		<hr width="500" height="2" style="border:0;margin:0 auto;color:#ddd;background-color:#ddd;min-height:2px">
	</td>
</tr>

<tr>
  <td style="padding: 0 60px 0 60px; font-family:Helvetica,Arial,sans-serif;" colspan="2">
		<h1 style="font-size:16px; margin-bottom: 2px; font-weight:bold; color:#333;" >
    	People
    </h1>
	</td>
</tr>

<%- 2.times do %>

	<tr>
	  <td style="padding: 10px 0; font-family:Helvetica,Arial,sans-serif;color:#333333" colspan="2">
			<hr width="500" height="1" style="border:0;margin:0 auto;color:#e8e8e8;background-color:#e8e8e8;min-height:1px">
		</td>
	</tr>

	<tr valign="top">
	  <td style="padding: 10px 0 0 50px;" align="center">
			<a href="" style="border:none;color:#0084b4;text-decoration:none" target="_blank"> <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/en/6/6d/Chewbacca-2-.jpg" style="border:0;width:125px;height:125px;border-radius:4px"> </a>
		</td>

	  <td style="padding: 10px 60px 0 0px; font-family: Helvetica,Arial,sans-serif;" >
			<a href="https://en.wikipedia.org/wiki/Chewbacca" style="border:none;color:#0084b4;text-decoration:none" target="_blank"><span style="font-size:14px;font-weight:bold;color:#333">Chewbacca</span></a>
			<p style="font-family:Helvetica,Arial,sans-serif; font-size: 13px">
				profile description shit
			</p>

	    <ul style="list-style: none; padding-top: 10px; margin-top: 5px; padding-left:60px">
        <li style='margin-bottom: 8px; margin-left: 0px; width: 170px;'>
          <a href="" align="center" bgcolor="#ff0000" style="background: #ff0000; text-align: center; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; color: #fff; font-weight: bold; text-decoration: none; font-family: Helvetica, Arial, sans-serif; display: block; width: auto;">
          	Visit Profile
          </a>
	      </li>
	    </ul>
		</td>
	</tr>

<%- end %>
