<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Hi <%= @user.username %>,<br />
<br/>
I want to personally thank you for registering for an invite on Claco. We are very excited to have you be a part of our platform and look 
forward to working with you in helping to find and share your learning content. <br/>

If you have any questions at all, please do not hesitate to email me at eric@claco.com or call us at 908-248-2156. We'd love to hear from you. <br/>
Best, <br />
Eric Simons <br />
CEO - Claco
<br />
</body>
</html>