<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Hi there,
Eric here from Claco! I just wanted to let you know that we received your request for a beta invite and you will hear back from us within 5 business days.
<br /><br />
If you have any questions at all, please do not hesitate to email me at eric@claco.com or call us at 650-353-7642. We'd love to hear from you. <br/>
<br/>
Sincerely, <br />
Eric Simons <br />
</body>
</html>