<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Hi there!<br /><br />
Thanks for being patient with us.<br/>
We've been working around the clock to get our new site online for you<br/>
And we're excited to inform you that your beta invite is finally ready!<br />
<br />
Here is your exclusive link to create an account on Claco:<br />
<%= link_to @link, @link %><br />
<br />
Feel free to write back if you have any questions!<br />
<br />
Best Wishes,<br/>
<br/>
Eric Simons<br />
CEO of Claco<br />
</body>
</html>