<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Hi there!<br /><br />
We received a request for a beta invite for this email. <br/>
We've been working around the clock to get our new site online<br/>
And we're excited to inform you that it's finally ready!<br />
<br />
Here is your exclusive link to create an account on Claco:<br />
<%= link_to @link, @link %><br />
<br />
Feel free to write back if you have any questions!<br />
<br />
-Eric<br />
Team Claco<br />
(formerly Classconnect)
</body>
</html>