<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    Hi <%= @name %>,<br />
    <br/>
    Thanks again for joining us, we hope you love our new site. Here are some tips to get the most out of your Claco experience:<br />
      <a href="http://www.claco.com/editinfo">Upload a profile picture and add your info!</a><br/>
      <a href="http://www.claco.com/">Create your first binder</a><br/>
      <a href="http://www.claco.com/educators">Subscribe to teachers just like you!</a><br/>
    United we teach!<br/>
    <br/>
    Eric Simons
</body>
</html>