.navbar .container {
	width: auto;
}

.brand img {
	margin-left: 16px;
}

#postitem {
	width: 80%;
	background: white;
	margin: auto;
	padding: 12px 36px;
}

form input,
form textarea {
	display: block;
	width:240px;
}

.description {
	display:none;
}

.descToggle {
	display: block;
}

.fol-picker {
	margin-left: 110px;
}

.pickerpane {
	z-index: 1;
}

#msgBox h4 {
	text-transform: capitalize;
}