<h2>app/views/applicants/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>

<a href="/admin/viewapps">View Applicants</a><br />
<a href="/admin/viewusers">View Users</a>
<a href="/admin/fpfeatured">Pick Front Page Binders</a>
<a href="/admin/featured">Pick Featured Binders</a>