<% content_for :headcon do %>
    <%= stylesheet_link_tag    "devise/apply", :media => "all" %>
<% end %>
<% content_for :botcon do %>
    <%= javascript_include_tag "editinfo/apply" %>
<% end %>


<div class="splashback">
	<div class="container">

		<div class="tagline">
			Thanks for applying!<br /><br />
			We'll be in touch soon.
		</div>

	</div>
</div>



<div class="container">
	<br /><br />
	<center><%= link_to "Back to home page", root_path %></center>
</div>