<div id="addweb-form">
  <div class="headtitle">
    Add web bookmark / embed
  </div>

  <div class="errorBox"></div>

  <form action="#" class="bodcon">
    <div class="conitem">
      <input name="weblink" class="weblink" style="width:300px" type="text" placeholder="http:// or <embed>" />
      <input name="webtitle" maxlength="50" class="webtitle" style="width:300px" type="text" placeholder="Title of the web page" />

      <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
      <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the web page"></textarea>

    </div>

    <div class="buttonbar">
       <button class="btn btn-primary showloader" type="submit">Add this!</button>
       <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
    </div>

  </form>
</div>

<div class="fol-picker" style="margin-bottom:10px">

  <div class="togbar" onclick="togglePicker(this)">
    <span class="chosenTitle">
      <i>Choose a binder or folder to copy this to</i>
    </span>
    <div class="down-arrow"></div>
    <input type="hidden" name="folid" class="chosenOne" value="" />
  </div>

  <div class="pickerpane">

    <% if !@root.nil? %>
    <% @root.each do |binder| %>


      <% if binder.parent["id"] == "0" %>

        <div class="bndr">

          <div class="dir" folid="<%= binder.id.to_s %>" turl="<%= named_binder_route(binder) %>">
            <div class="arrow-right" onclick="togglePickFolder(this)"></div>
            <span class="dirtitle" onclick="selectPickFolder(this)">
              <%= image_tag "binders/folder.png", :class => "foldicon" %>
              <%= binder.title %>
            </span>
            <div class="dirWrap"></div>

          </div>
        </div>

      <% end %>

    <% end %>
    <% end %>


  </div>
</div>