<div id="addweb-form">
  <div class="headtitle">
    Add web bookmark / embed
  </div>

  <div class="errorBox"></div>

  <form action="#" class="bodcon">
    <div class="conitem">
      <input name="weblink" class="weblink" style="width:300px" type="text" placeholder="http:// or <embed>" />
      <input name="webtitle" maxlength="50" class="webtitle" style="width:300px" type="text" placeholder="Title of the web page" />

      <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
      <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the web page"></textarea>

    </div>

    <div class="buttonbar">
       <button class="btn btn-primary showloader" type="submit">Add this!</button>
       <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
    </div>

  </form>
</div>