<% content_for :headcon do %>
  <%= stylesheet_link_tag  "errors", :media => "all" %>
<% end %>

<div id="error-main">
  <div id="error-header">
    <h1><i class="ui-icon-warning-sign icon-white"></i>500</h1>
    <h2>Oops! Something went horribly wrong :(</h2>
  </div>
  <div id="error-content">
    <p>We made a mistake please forgive us.</p>
    <p>You have an idea what went wrong? Report please!</p>
    <div class="error-util">
      <div class="button-container right">
        <a href="/" id="apply-btn" class="btn">Home</a>
        <a href="mailto:support@claco.com?subject=Claco Feedback" class="btn">Contact Us</a> 
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>