<% content_for :headcon do %>
    <%= stylesheet_link_tag "home/pub/explore", :media => "all" %>
<% end %>

  <div class="container">
    <div class="tagline">
      Explore Claco: Math
    </div>
  </div>

<div class="container">
  <div class="sectr" style="margin-top: 10px">
    <div class="imgbox" style="float:left;margin-right:30px">
    </div>

    <div class="description">
      <h3>
        Title of the binder n shit
      </h3>

      <p>
        Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical.
      </p>

      <button class="btn snapbtn">
        <%= image_tag "binders/snap.png" %>
        <div class="texter">Snap to binder</div>
      </button>
      
      <div class="profile">
        <img class="profile-avatar-wrap" src="http://img.cla.co/2912c37d04ad62de2099657014ead6a8/thumb_lg.png">
        <h4>
          William King
        </h4>
        <p>
          I'm a king NS. Blahblah blah figure shit out. asldfjalsjdflj asdlfja;lsjdf a;lsdjf;lajsdf
        </p>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>