<div class="headtitle">
  Invite up to 5 colleagues
</div>

<div class="errorBox"></div>

<form action="#" class="bodcon">
  <div class="conitem" style="padding-left:10px">
    <input name="col1" style="width:260px" type="text" placeholder="1st colleague's email address" />
    <input name="col2" style="width:260px" type="text" placeholder="2nd colleague's email address" />
    <input name="col3" style="width:260px" type="text" placeholder="3rd colleague's email address" />
    <input name="col4" style="width:260px" type="text" placeholder="4th colleague's email address" />
    <input name="col5" style="width:260px" type="text" placeholder="5th colleague's email address" />

  </div>

  <div class="buttonbar">
     <button class="btn btn-primary" type="submit">Send invites!</button>
     <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
  </div>

</form>