<% content_for :headcon do %>
    <%= stylesheet_link_tag    "search/main", :media => "all" %>
<% end %>
<% content_for :botcon do %>
	<%= javascript_include_tag "search/main" %>
<% end %>
<div class="container">

	<div class="leftbox">
		<li class="active">
			<a href="#">
				<div class="titler">
					Educators 

					<div class="arrow">&#9654;</div>
				</div>
			</a>
		</li>

		<li>
			<div class="titler">
				Binders&nbsp;&nbsp;<span class="label label">coming soon!</span>

				<div class="arrow">&#9654;</div>
			</div>
		</li>

	</div>

	<div class="mainbox">
		<div class="headnounce">
			Educators
		</div>

		<% if @teachers.empty? %>
			<div class="listitem">No educators found!</div>
		<% else %>
			<%= render 'layouts/teacherlist' %>
		<% end %>

	</div>
</div>