<% @title = "You are forbidden from accessing this page. (403)" %>

<% content_for :headcon do %>
  <%= stylesheet_link_tag  "errors", :media => "all" %>
<% end %>

<div id="error-main">
  <div id="error-header">
    <h1>403</h1>
  </div>
  <div id="error-content">
    <h2>Sorry we can't show you this page!</h2>
    <hr/>
    <p>You probably don't have permission to see this</p>
    <p>Do you have access to this page and we got something wrong? Report please!</p>
    <div class="error-util">
      <div class="button-container">
        <a href="/" id="apply-btn" class="btn">Home</a>
        <a href="#" class="btn" onclick="olark('api.box.expand'); return false">Contact a Human</a>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>