<h3>Teachers#showbinder</h3>
<p>app/views/teachers/showbinder.html.erb</p>

<hr />

<% print_children(0) %>

<% @retarray.uniq.each do |treenode| %>
	<% treenode[2].times do %>
		&nbsp;&nbsp;&nbsp;
	<% end %>
	<% if treenode[3] == 1 %>
		<%= link_to treenode[1], treenode[4].last.file.url %><br />
	<% else %>
		[<%= link_to treenode[1], show_binder_path(params[:id],treenode[0]) %>]<br />
	<% end %>
	<% if treenode[0] == @current_binder.id.to_s %>
		<% if @child_binders.empty? %>
			<% (treenode[2]+1).times do %>
				&nbsp;&nbsp;&nbsp;
			<% end %>
			&lt;Empty&gt;<br />
		<% else %>
			<% @child_binders.each do |c_binder| %>
				<% (treenode[2]+1).times do %>
					&nbsp;&nbsp;&nbsp;
				<% end %>
				<% if c_binder.format == 1 %>
					<%= link_to c_binder.title, c_binder.versions.last.file.url %><br />
				<% else %>
			  		[<%= link_to c_binder.title, show_binder_path(params[:id],c_binder.id) %>]<br />
			  	<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
