<ul>
<% @subscribers.each do |sub| %>
<li>
<div><%= image_tag(Teacher.thumb_md(sub)) %></div>
<div><%= link_to(sub.full_name, sub.username) %></div>
<div><%= sub.info.bio %></div>
</li>
<% end %>
</ul>