<div class="headtitle">
      Subscriptions
      <a href="#" onClick="closefBox()" class="btn btn-mini pull-right">&times;</a>
</div>
<ul>
    <% @subscriptions.each do |sub| %>
    <li>
        <%= image_tag(teacher_thumb_md(sub), {:class => 'thumbster'}) %>
        <h3><%= link_to(sub.full_name, sub.username) %></h3>
        <% if !current_teacher.subscribed_to?(sub.id) %>
            <button class="btn btn-mini subbtn pull-right" data-action="subscribe" data-url="<%= sub.username %>/subscribe" type="button">Subscribe</button>
        <% else %>
            <span class="pull-right">✓ Subscribed!</span>
        <% end %>
        <hr>
    </li>
    <% end %>
</ul>
