<tr>
  <td width="500" style="" colspan="2">
    <table cellpadding="0" cellspacing="0" border="0" align="center" style="padding:0; margin:0;">
      <tr>
        <td style="padding: 15px 0 30px 60px;" width="340">
          <h4 style="font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: #5a5a5a; padding:0; margin:0; text-align:center;">Help us be help you! Give us feedback on how we can improve your overall experience.</h4>
        </td>
        <td width="150" style="padding: 0 60px 20px 30px;">
          <table>
            <tr>
              <td align="center" width="150" bgcolor="#cf142b" style="background: #cf142b; padding-top: 6px; padding-right: 10px; padding-bottom: 6px; padding-left: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #fff; font-weight: bold; text-decoration: none; font-family: Helvetica, Arial, sans-serif; display: block;"><a href="mailto:support@claco.com?Subject='Claco Feedback'" style="color: #fff; text-decoration: none;">
                Get in touch!
              </a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>