<tr>
  <td colspan="2">
    <p style="padding:0; margin:0; font-weight: normal; font-family: Helvetica, Arial, sans-serif; color: #9a9a9a; font-size: 10px; line-height: 15px;">
      You’re receiving this today because you’ve interested in creating a better learning community <a href="http://www.claco.com/editinfo" style="color: #3680cd; text-decoration: none;">Update Subscription Preferences?</a>
    </p> 
  </td>
</tr>