<tr align = "center">
  <td width="500" style="" colspan="2">
    <p align="center" style="margin:0; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px;">
      <a href="http://www.claco.com/?utm_source=footer&utm_medium=email&utm_campaign=shared">HOME</a> | 
      <a href="http://www.claco.com/about/?utm_source=footer&utm_medium=email&utm_campaign=shared">ABOUT US</a> | 
      <a href="http://www.claco.com/apply/?utm_source=footer&utm_medium=email&utm_campaign=shared">JOIN THE COMMUNITY</a>
    </p>
    <p>
      <a href="http://www.facebook.com/teamclaco">
        <img src="http://boutineassets.s3.amazonaws.com/email/facebook.png"/>
      </a>
      <a href="http://www.pinterest.com/claco/">
        <img src="http://boutineassets.s3.amazonaws.com/email/pinterest.png"/>
      </a>
      <a href="http://www.twitter.com/teamclaco">
        <img src="http://boutineassets.s3.amazonaws.com/email/twitter.png"/>
      </a>
    </p>
    <p style="padding: 5px 15px; margin:0; font-weight: normal; font-family: Helvetica, Arial, sans-serif; color: #5a5a5a; font-size: 13px; line-height: 20px;"> We ♥ educators.</p>
  </td>
</tr>
<tr>
  <td colspan="2">
    <p style="background:black; color:white; padding:5px 15px; margin:0; font-size:10px;font-family: Helvetica, Arial, sans-serif; text-align: center;"> Copyright 2012 Claco | 847 Webster St., Palo Alto CA 94301 </p>
  </td>
</tr>
