<tr align = "center">
  <td width="500" style="" colspan="2">
    <p style="padding: 5px 15px 8px; margin:0; font-weight: normal; font-family: Helvetica, Arial, sans-serif; color: #5a5a5a; font-size: 26px; line-height: 20px;"> We <span style="font-size:30px; color:#ff0000">♥</span> educators.</p>
    <p align="center" style="margin:0; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px;">
      <a href="http://www.claco.com/?utm_source=footer&utm_medium=email&utm_campaign=shared">HOME</a> | 
      <a href="http://www.claco.com/about/?utm_source=footer&utm_medium=email&utm_campaign=shared">ABOUT US</a> | 
      <a href="http://www.claco.com/unitedweteach/?utm_source=footer&utm_medium=email&utm_campaign=shared">#UNITEDWETEACH</a>
    </p>
    <p>
      <a href="http://www.facebook.com/teamclaco" style="text-decoration: none;">
        <img src="http://static.claco.com/assets/email/facebook-ed1e182f3af5c7708a8f17b3b554f759.png" />
      </a>
      <a href="http://www.pinterest.com/teamclaco/" style="text-decoration: none;">
        <img src="http://static.claco.com/assets/email/pinterest-bd968b2b26c99a412af9849947ad27bc.png" />
      </a>
      <a href="http://www.twitter.com/teamclaco" style="text-decoration: none;">
        <img src="http://static.claco.com/assets/email/twitter-7524359a65bae9780c44a478154496e0.png" />
      </a>
    </p>
  </td>
</tr>
<tr>
  <td style="background:#333; color:white; padding:5px 15px; margin:0; font-size:12px;font-family: Helvetica, Arial, sans-serif; text-align: center;" colspan="2">
    <p>
      Copyright 2012 Claco | 847 Webster St., Palo Alto CA 94301
    </p>
    <p>
      <a href="http://www.claco.com/editinfo" style="color: #3680cd; text-decoration: none;">Update Subscription Preferences?</a>
    </p> 
  </td>
</tr>
