<tr>
  <td style="no-repeat;" colspan="2">
    <a href="http://www.claco.com">
    	<img src="http://static.claco.com/assets/email/email_logo-29e6ebd2f5b60eb03696b0f5c4f17cd1.png" />
    </a>
  </td>
</tr>