.container {
  position: relative;
}

.profile-avatar-wrap {
  position: absolute;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  padding: 9px;
  background: white;
  top: 13px;
}

.profile-avatar-wrap img {
  width: 140px;
  height: 140px;
  display: block;
  background: #ddd;
  border-radius: 2px;
}

.profile-avatar-wrap span {
  display: block;
  background: #f7f7f7;
  text-align: center;
  font-size: 15px;
  color: #7d7d7d;
  margin-top: 5px;
  border-radius: 2px;
  padding: 5px;
}

.profile-avatar-wrap span strong {
  color: #383838;
  font-weight: 500;
  font-size: 18px;
}

.profile-header-bar {
  height: 70px;
  text-shadow: 0px 1px 1px #fff;
  background-color: #E0E0E0;
  *background-color: #E0E0E0;
  background-image: -ms-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#E0E0E0));
  background-image: -webkit-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: -o-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: -moz-linear-gradient(top, #F8F8F8, #E0E0E0);
  background-image: linear-gradient(top, #F8F8F8, #E0E0E0);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E0E0E0', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border-bottom: 1px solid #B7B7B7;
}

.profile-header-bar h2 {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  vertical-align: bottom;
}

.profile-header-bar h2 strong {
  font-size: 22px;
  font-weight: 500;
  color: #333;
  margin-right: 4px;
}

.profile-header-bar .profile-header-bar-push {
  padding: 21px 0 17px 180px;
  height: 32px;
}

.profile-left-push {
  padding-left: 180px;
}

.profile-info-section {
  background: white;
  border-bottom: 1px solid #d6d6d6;
}

.profile-info-section .container {
  min-height: 190px;
}

.profile-info-section .profile-left-push {
  margin-top: 16px;
  width: 400px;
}

.profile-info-section p {
  color: #444;
}

ul.profile-info-items {
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
}

ul.profile-info-items li {
  float: left;
  margin-right: 12px;
}

ul.profile-info-items a {
  font-size: 12px;
  font-weight: 500;
}

ul.profile-info-items li:last-child {
  margin-right: 0;
}

.profile-module {
  border-left: 1px solid #f2f2f2;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
  width: 140px;
  padding: 15px;
}

.profile-module:last-child {
  right: 170px;
}

.profile-module h3 strong {
  display: block;
  color: #232323;
  font-size: 26px;
  font-weight: 400;
}

.profile-module h3 {
  display: block;
  font-size: 13px;
  color: #999;
  font-weight: 400;
  line-height: 24px;
}

ul.profile-avatars {
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0;
  width: 150px;
}

ul.profile-avatars li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

ul.profile-avatars li a {
  float: left;
  width: 40px;
  height: 40px;
  background: #eee;
}

ul.nav-tabs.onProfile {
  margin: -36px 0 0 0;
  padding: 0;
  list-style: none;
  border-bottom: none;
}

ul.nav-tabs.onProfile li {
  height: 36px;
}

ul.nav-tabs.onProfile a {
  font-weight: bold;
  color: #bbb;
  float: left;
  padding: 9px 22px;
  cursor: pointer;
  border: none;
}

ul.nav-tabs.onProfile a:hover {
  text-decoration: none;
  border: none;
  color: #666;

}

ul.nav-tabs.onProfile li.active a {
  background: url(/assets/paper.jpg) repeat;
  border-radius: 5px 5px 0 0;
  border: 1px solid #ddd;
  border-bottom: none;
  color: #333;
}

.profile-content {
  padding: 20px 0;
}



.actbtn {
  font-weight:bolder;
}