<div class="content-list">


	<div id="502ae10339fe36025b000027" class="content-item folder-item">
		<div class="folder-preview">
	        <div class="single-hold" style="margin-top:-1px;background-image:url('http://img.cla.co/68531f8ae0128c0eee2a3c082923caab/thumb_lg.png');background-position: -25px;"></div>

	    </div> <!-- end of fold prevew -->

		<img class="thumby1" src="http://img.cla.co/3326f24eb6b9eaad63d84a1e85557037/thumb_sm.png" style="opacity:0" />
		<img class="thumby1" src="http://img.cla.co/3326f24eb6b9eaad63d84a1e85557037/thumb_sm.png" />
		<img class="thumby2" src="http://img.cla.co/61ea3a3207b6e3e703916bd88d770b54/thumb_sm.png" />
		<img class="thumby3" src="/assets/common/nothumb.png" />


	  	<div class="innerd">
	        <div class="titler"><a href="/saget/portfolio/Math/Welcome+to+Claco/502ae10339fe36025b000027">Welcome to Claco</a></div>

	        <div class="reflink">


	        	<img src="/assets/binders/file.png" style="margin-top:-3px;margin-right:1px" />5 &bull; 4.28 MB


	        </div>

	        <div class="descarea">
	        	Chemistry is the science of matter, especially its chemical reactions, but also its composition, structure and properties.[1][2] Chemistry is concerned with atoms and their interactions with other atoms, and particularly with the properties of chemical bonds.
Chemistry is sometimes called "the central science" because it connects physics with other natural sciences such as geology and biology.[3][4] Chemistry is a branch of physical science but distinct from physics.[5]
The etymology of the word chemistry has been much disputed...<u>show more</u>
	        </div>
	    </div>

	    <div class="lastupdate">Last updated by <a href="#">saget</a> <span title="2012-08-14T17:06:33-07:00">about 3 hours ago</span></div>

	    <div class="drop-tog">
	    	

	    </div>


	</div>


</div>